.hideUserButtonContainer {
  position: absolute;
  top: -12px;
  right: 40px;
}

.hideUserButton {
  width: 40px;
  height: 40px;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
}

.hideUserIcon {
  width: 24px;
  height: 24px;
}
